__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
venv/
.venv/
myenv/
**/*.pkl
**/*.jpg
**/*.jpeg
**/*.mp4
**/*.wav
**/*.mp3
output/
videos/
NeMo/
.git
.gitignore
*.md
.env
*.log
